{% extends "flashcards/base.html" %}
{% block title %}
  {{ deck.name }} Flashcards - Flashcards App
{% endblock title %}
{% block content %}
  <h1>{{ deck.name }} Flashcards</h1>
  {% if flashcards %}
    <ul>
        {% for flashcard in flashcards %}
            <li>
                <a href="{% url 'flashcards:flashcard' flashcard.deck.id flashcard.id %}">{{ flashcard.front_text }}</a>
            </li>
        {% endfor %}
    </ul>
  {% else %}
    <p>This deck is empty.</p>
  {% endif %}
{% endblock content %}
